Django>=1.9
-e git+ssh://git@github.com/opencivicdata/python-opencividata-django.git@master#egg=opencivicdata-django-0.8.3a

dj_database_url
psycopg2
scrapelib
validictory>=1.0.1
pytz

mock
pytest
pytest-cov
pytest-django
coveralls
