https://www.djangoproject.com/download/1.7c2/tarball/#egg=django
dj_database_url
django-uuidfield
djorm-pgarray
jsonfield==0.9.20
opencivicdata-django
psycopg2
scrapelib
validictory
pytz

mock
pytest
pytest-cov
pytest-django
coveralls
