-e git+https://github.com/django/django.git@stable/1.7.x#egg=django
dj_database_url
django-uuidfield
djorm-pgarray
jsonfield
opencivicdata
psycopg2
scrapelib
validictory

mock
pytest
pytest-cov
pytest-django
coveralls
